body {
  margin: 0;
}

.sky {
  display: flex;
  justify-content: space-evenly;
  background-color: #1f1e1d;
  padding-top: 20px;
  padding-bottom: 20px;
}

#circle1, #circle2, #circle3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #272635;
  animation-name: flash;
  animation-duration: 0.5s;
  fill: url(/theories/wave.svg);
}

@keyframes flash {
  from { background-color: #272635}
    1% { background-color: white}
    20% { background-color: #272635}
    53% { background-color: #69140E}
  to { background-color: #272635}
}

.content {
  display: flex;
  width: 70%;
  justify-content: flex-start;
}





