html {
    background-color: #124559;
    background-repeat: no-repeat;
    background-image: url('/jon-snow.jpg');
    background-size: 60vw;
    background-position: center 4vw;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:1.8vw;
  color: #D3E6D9;
  margin: 0px;
}
a {
  color: #D3E6D9;
}
#row2b{
  text-align:right;
}
#row2b > p{
  font-family: 'Rozha One', serif;
  position: relative;
  font-size: 5vw;
  margin-bottom: 0.4vw;
}
#row2b > p:nth-child(1){
  margin-top: 5vw;
}
#row2b > p:nth-child(2){
  margin-top: -1vw;
  font-size: 7.5vw;
}

#grid {
  display: grid;
  grid-gap: 2vw; 
  grid-template-rows: 5vw;
  grid-auto-rows: 9vw; 
  grid-template-columns: 1fr repeat(6, 3fr) 1fr;
}

#grid > div{
  position: relative;
  background-color:#124559;
  outline-style: solid;
  outline-color:#124559;
  outline-width: 2vw;  /* Same as grid gap */
}

div#row1a,div#row3b,div#row4a,div#row5b{
  background-color:rgba(64,69,78,0.4);
}

#row1a{
  grid-column-end: span 3;
}
#row1b, div#row2b, div#row3b, div#row5a, div#row5c{
  grid-column-end: span 2;
}

div#row2b{
  grid-row-end: span 2;
}

#filler {
  width: 100vw;
  height: 30vw;
  background-color:#ff0;
  margin-left: -1vw;
}

div#row7a {
  grid-column-end: span 6;
  grid-row-end: span 11;
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  margin-left: 20px;
}

blockquote {
  text-align: center;
  opacity: .7;
  padding: .8em 1.6em;
}

